@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Custom Cursor */
.cursor {
  position: fixed;
  width: 24px;
  height: 24px;
  /* border: 2px solid #ffffff; */
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}
button, a {
  cursor: none !important;
}

html {
  cursor: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
